/*Programación de clases de NAV */
body{
  margin: 0 auto;
  font-family: Source Sans Pro;
  background-color:rgb(221, 198, 182);
}

h2{
  text-align: left;
  width: 400px;
  height: 20px
}

a{
  color: rgb(77, 50, 50);
  text-decoration: none;
}

.ol,li{
  margin: 0 auto;
  padding: 0;
  list-style:none;
}

h1{
  text-align: center;
  margin-left:75px;
  margin-right: 890px;
  border: 2px solid rgb(175, 143, 143);
  border-radius: 50px;
}

.menu{
  font-style: italic;
  height: 60px;
  padding-top: 10px;
  display: block;
  text-align: center;
  background-image: url('../TAREA HECHOS EL SALVADOR/IMAGES/logo.png');
  background-repeat: no-repeat;
  background-position:center;
  background-size: 370px;
  background-color: rgb(127 115 115);
  padding-bottom: 20px;

}

li{
  width: 107px;
  height: 25px;
  border: 4px solid rgb(49, 47, 47);
  border-radius: ;
  margin: 0 auto;
  padding: 1.5px; 
  padding-top: 3px;
  justify-content: space-evenly;
}

ol{
  display: -webkit-flex;
}

.event{
  display: block;
  position: relative;
  text-align:justify;
  background-color: rgb(218, 165, 127);
  width: 300px;
  height: 400px;
  padding: 20px;
  padding-top: 0px;
   border: 2px solid rgb(161, 95, 95);
  border-radius: 20px;
  margin: 150px;
  margin-left: 496px;
  margin-right: 150px;
  margin-bottom: -104px;

}

.event2{
    display: block;
    position: relative;
    text-align:justify;
    background-color: rgb(218, 165, 127);
    width: 300px;
    height: 430px;
    padding: 20px;
    padding-top: 0px;
    border: 2px solid rgb(161, 95, 95);
    border-radius: 20px;
    margin: 130px;
    margin-right: 110px;
    margin-left: 20px;
    margin-bottom: 0px;
  }

  .event3{
    display: block;
    position: relative;
    text-align:justify;
    background-color: rgb(218, 165, 127);
    width: 300px;
    height: 400px;
    padding: 20px;
    padding-top: 0px;
    border: 2px solid rgb(161, 95, 95);
    border-radius: 20px;
    margin: 0px;
    margin-top: 35px;
    margin-right: 110px;
    margin-left: 500px;
    margin-bottom: 40px; 
  }

  #video-background {
    height: 100%;
    position: fixed;
    width: 100%;
}

  .event4{
    display: block;
    position: relative;
    text-align:justify;
    background-color: rgb(218, 165, 127);
    width: 300px;
    height: 400px;
    padding: 20px;
    padding-top: 0px;
    border: 2px solid rgb(161, 95, 95);
    border-radius: 20px;
    margin: 0px;
    margin-top: 35px;
    margin-right: 110px;
    margin-left: 20px;
    margin-bottom: 50px;
    padding-bottom: 60px;
  }
  

.img_Event1{
  background-color: rgb(145, 125, 125);
  margin: 0 auto;
  display: -webkit-inline-box;
  padding: 10px;
  border: 1px solid rgb(60, 50, 50);
  border-radius: 20px;
}

.header{
  height: 50px;
}

h1{
  color: rgb(0, 0, 0);
}

.link-pages{
  color:rgb(130, 98, 76)
}

.footer{
  background-color: rgb(61, 46, 46);
  height: 45px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

/*DIVS*/



#mainevents{
  border-radius: 20px;
  border: 5px solid rgb(75, 69, 73);
  background-color: rgb(196, 186, 182);
  margin: 0px 0px 0px 0px;
  margin-bottom: 100px;
  box-shadow: 0px 20px 20px 0px rgb(121, 121, 80);
}

#container2{
  display: flex;
}

#container3{
  display: block;
  margin: 0 auto;
}

#container4{
  margin: 0 auto;
}

